<!--_____Netflix _____-->
<header id="header-canje"><h4> 1 Mes GRATIS de Netflix </h4></header>
<div class="row" id="row_netflix">
    <div class="col s4">
        <img width="100" src="img\netflix-06-536x535[1].png">
    </div>
    <div class="col s5">
    <p style="font-size: 125%">Oferta minima </p>
    <span class="burn">230.00</span>    
    </div>

   <div class="input-field col s12">
          <input id="first_name" type="number" class="validate">
          <label>Monto a Ofertar</label>
        </div>
</div>

<a class="waves-effect waves-light btn-large"><i class="material-icons right">send</i>Ofertar</a>
<br>
<br>
<hr class="style3">

