
<div class="row">
        <div class="col s12 m7">
            <div class="card horizontal">
                <div class="card-image">
                <img class="imagen-coleccionable" src="http://all-insports.net/Files/players/monterrey/99095.jpg">
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <p style="color:black">Dorlan Pabon</p>
                    </div>
                    <div class="card-action">
                        <a href="#"><img class= "icono-moneda"src="img/coins.png"> 5000 </a>
                    </div>
                </div>
            </div>
        </div>

    <div class="col s12 m7">
        <div class="card horizontal">
            <div class="card-image">
            <img class="imagen-coleccionable" src="img/teams/ufc/rhonda-rousey.png">
            </div>
            <div class="card-stacked">
            <div class="card-content">
                <p style="color:black">Rhonda Rousey</p>
            </div>
            <div class="card-action">
                <a href="#"><img class= "icono-moneda"src="img/coins.png"> 5000 </a>
            </div>
            </div>
        </div>
    </div>

    <div class="col s12 m7">
        <div class="card horizontal">
            <div class="card-image">
            <img class="imagen-coleccionable" src="img/teams/box/canelo.png">
            </div>
            <div class="card-stacked">
            <div class="card-content">
                <p style="color:black">Canelo Alvarez</p>
            </div>
            <div class="card-action">
                <a href="#"><img class= "icono-moneda"src="img/coins.png"> 5000 </a>
            </div>
            </div>
        </div>
    </div>
</div>

