<div class="white-text">
<br>
<h6>Cada 5 horas recibiras monedas gratis!!</h6>
<br>
<!--Boton para monedas gratis cada 5 horas -->
<div class="row ">

    <div class="col s8">
        <a id="boton-regalo-monedas" class="waves-effect waves-light btn-large disabled" style= border-radius:8px><img class= "icono-moneda"src="img/coins.png">{{ countDownText_monedas }}</a>
    </div>
</div>

<br>
<br>
<br>
<a id="boton-regalo" class="waves-effect waves-light btn-large"><i class="fa fa-address-book-o"></i>Mi Álbum</a>


<div class="container">
    <h1>Registrate o inicia Sesión</h1>
    <p>ingresa tus datos para saber quien eres, tu información estará segura... hasta que alguien nos paguen muy bien por ella</p>
</div>

</div>