<div class="row">
    <div class="col s12 white-text">
        <h6>Cada 5 horas recibiras monedas gratis!!</h6>
        <br>
        <!--Boton para monedas gratis cada 5 horas -->
        <a id="boton-regalo-monedas" class="waves-effect waves-light btn-large disabled" style= border-radius:8px><img class= "icono-moneda"src="img/coins.png">{{ countDownText_monedas }}</a>
        <a id="boton-regalo" class="waves-effect waves-light btn-large"><i class="fa fa-address-book-o"></i>Mi Álbum</a>
        
        <h1>Regístrate o inicia Sesión</h1>
        <p>ingresa tus datos para saber quien eres, tu información estará segura... hasta que alguien nos paguen muy bien por ella</p>
        <div class="center-block">
            <a ng-click="exitAccount()" class="waves-effect waves-light btn-large red"><i class="material-icons">directions_run</i>Salir</a>    
        </div>
        
    </div>