                                <!-- Quinielas  -->
<div class="navbar-fixed">
    <nav class="blue-grey">
        <div class="nav-wrapper">
            <a href="#" class="brand-logo left">${{ user.coins }}</a>
            <ul class="right">
                <li>
                    <a href="#" class="blue-grey darken-2">
                       <!--  <i class="fa fa-list-alt blue-text" aria-hidden="true"></i> -->
                       <i class="material-icons left">view_module</i> Mis Apuestas
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</div>

<div class="blue-grey darken-4 left">
    <!-- APUESTA -->
    <div ng-repeat="(sportName, gameList) in sportGames">
        <h5 class="left-gap white-text">{{ sportName }}</h5>
        <h6 class="text-center white-text" ng-if="gameList.length == 0">Por el momento no hay apuestas.</h6>
        <div class="row">
            <div id="item-{{game.Id}}" class="col s12 m6" ng-repeat="game in gameList" ng-init="game.betReady = false; game.winner='none'; game.bet = 0">
                <button class="btn-floating right waves-effect waves-light"
                    ng-disabled="game.winner == 'none' || user.coins < game.bet" ng-click="sendBet(game)">
                    <i class="material-icons">done</i>
                </button>
                <div class="card-panel grey lighten-4 z-depth-4">
                    <div class="box-row box-space-between box-items-center">
                        <img class="miniatura-logo-quiniela" src="{{ game.Player1Image }}">
                        <div class="center-align">
                            <h5>{{ game.Player1Name }} vs. {{ game.Player2Name }}</h5>
                            <p>{{ game.LocalDate }} ({{ game.LocalTime }})</p>
                        </div>
                        <img class="miniatura-logo-quiniela" src="{{ game.Player2Image }}">
                    </div>
                    <div>
                        <p class="range-field">
                            <input class="quiniela-range active" type="range" 
                            min="{{ game.MinBet }}" max="{{ user.coins }}" name="bet" value="{{ game.bet }}" 
                            ng-model="game.bet" style="height: 30px;">
                        </p>
                        <h5 class="center blue-text" >Apuesta: ${{ game.bet }}</h5>
                    </div>          
                    <div class="row">
                        <div class="col s4 m4">
                            <input id="inp1-G{{ game.Id }}" class="with-gap" type="radio" name="G-{{ game.Id }}"
                                ng-click="game.winner=1" ng-disabled="user.coins < game.bet">
                            <label for="inp1-G{{ game.Id }}">Local</label>
                        </div>

                        <div class="col s4 m4">
                            <input id="inp2-G{{ game.Id }}" class="with-gap" type="radio" name="G-{{ game.Id }}" 
                                ng-click="game.winner=0" ng-disabled="user.coins < game.bet">
                            <label for="inp2-G{{ game.Id }}">Empate</label>
                        </div>

                        <div class="col s4 m4">
                            <input id="inp3-G{{ game.Id }}" class="with-gap" type="radio" name="G-{{ game.Id }}" 
                                ng-click="game.winner=2" ng-disabled="user.coins < game.bet">
                            <label for="inp3-G{{ game.Id }}">Visitante</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>
