<div class="white-text">
  <div class="row with-border" >
    <div class="col s5">
      <p style="font-size:130%">Tiempo Restante</p>
    </div>
    <div class="col s7"> 
      <p style="font-size:130%" id="timer">{{ countDownText }}</p>
    </div>
  </div>

  <div class="row with-border" >
    <div class="col s4">
      <img class="imagen-regalo" width="100" src="img\netflix-06-536x535[1].png">
    </div>
    <div class="col s6"> 
      <p>Oferta Minima</p><p class="cssload-loader first">$ 230.00</p>
    </div>
    <div class="col s2">
      <a class="btn btn-floating pulse" href="#!canje"> > </a>
    </div>
  </div>


  <div class="row with-border" >
    <div class="col s4">
      <img class="imagen-regalo" width="100" src="img\spootify.png">
    </div>
    <div class="col s6"> 
      <p>Oferta Minima</p><p class="cssload-loader first">$ 230.00</p>
    </div>
    <div class="col s2">
      <a class="btn btn-floating pulse" href="#!canje"> > </a>
    </div>
  </div>

  <div class="row with-border" >
    <div class="col s4">
      <img width="100" src="img\App-Store.png">
    </div>
    <div class="col s6"> 
      <p>Oferta Minima</p><p class="cssload-loader first">$ 230.00</p>
    </div>
    <div class="col s2">
      <a class="btn btn-floating pulse" href="#!canje"> > </a>
    </div>
  </div>

  <div class="row with-border" >
    <div class="col s4">
      <img class="imagen-regalo" width="100" src="img\google-play.png">
    </div>
    <div class="col s6"> 
      <p>Oferta Minima</p><p class="cssload-loader first">$ 230.00</p>
    </div>
    <div class="col s2">
      <a class="btn btn-floating pulse" href="#!canje"> > </a>
    </div>
  </div>


  <div class="row with-border" >
    <div class="col s4">
      <img width="100" src="img\steam.jpg" >
    </div>
    <div class="col s6"> 
      <p>Oferta Minima</p><p class="cssload-loader first">En breve..</p>
    </div>
    <div class="col s2">
      <!-- <a class="btn btn-floating pulse" href="#!canje"> > </a> -->
    </div>
  </div>


  <div class="row with-border" >
    <div class="col s4">
      <img width="100" src="img\xbox_live.png" >
    </div>
    <div class="col s6"> 
      <p>Oferta Minima</p><p class="cssload-loader first">En breve..</p>
    </div>
    <div class="col s2">
      <!-- <a class="btn btn-floating pulse" href="#!canje"> > </a> -->
    </div>
  </div>

  <div class="row with-border" >
    <div class="col s4">
      <img width="100" src="img\playstation_network.jpg" >
    </div>
    <div class="col s6"> 
      <p>Oferta Minima</p><p class="cssload-loader first">En breve..</p>
    </div>
    <div class="col s2">
      <!-- <a class="btn btn-floating pulse" href="#!canje"> > </a> -->
    </div>
  </div>

  <div class="col s8">
    <a id="boton-coleccionable" class="waves-effect waves-light btn-large" href="#!coleccionables"><i class="fa fa-address-book-o"></i>Coleccionables</a>
  </div>  

  <label cupon>
      Código de Canje
      <input id="input_cupon" type="text" name="cupon" placeholder="Código...">
      <a href="#_" onclick="app.cupon()"><i class="fa fa-2x fa-check-circle" aria-hidden="true"></i></a>
  </label>
</div>