     <table class="bordered">
        <thead style="background-color:firebrick">
          <tr>
              <th>#</th>
              <th>Equipos</th>
              <th>PJ</th>
              <th>V</th>
              <th>E</th>
              <th>D</th>
              <th>PTS</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>1</td>
            <td><img class="miniatura-logo" src="img/escudos/atlas.png">Atlas</td>
            <td>2</td>
            <td>2</td>
            <td>0</td>
            <td>0</td>
            <td>6</td>
        </tr>
          <tr>
            <td>2</td>
            <td><img class="miniatura-logo" src="img/escudos/necaxa.png">Necaxa</td>
            <td>2</td>
            <td>2</td>
            <td>0</td>
            <td>0</td>
            <td>6</td>
          </tr>
          <tr>
            <td>3</td>
            <td><img class="miniatura-logo" src="img/escudos/tigres.png">Tigres</td>
            <td>2</td>
            <td>2</td>
            <td>0</td>
            <td>0</td>
            <td>6</td>
          </tr>
          <tr>
            <td>4</td>
            <td><img class="miniatura-logo" src="img/escudos/lobos.png">Lobos BUAP</td>
            <td>2</td>
            <td>2</td>
            <td>0</td>
            <td>0</td>
            <td>6</td>
          </tr>
          <tr>
            <td>5</td>
            <td><img class="miniatura-logo" src="img/escudos/cruz azul.png">Cruz Azul</td>
            <td>2</td>
            <td>2</td>
            <td>0</td>
            <td>0</td>
            <td>6</td>
          </tr>
          <tr>
            <td>6</td>
            <td><img class="miniatura-logo" src="img/escudos/toluca.png">Toluca</td>
            <td>2</td>
            <td>2</td>
            <td>0</td>
            <td>0</td>
            <td>6</td>
          </tr>
          <tr>
            <td>7</td>
            <td><img class="miniatura-logo" src="img/escudos/monterrey.png"> Monterrey</td>
            <td>2</td>
            <td>2</td>
            <td>0</td>
            <td>0</td>
            <td>6</td>
          </tr>
          <tr>
            <td>8</td>
            <td><img class="miniatura-logo" src="img/escudos/america.png"> America</td>
            <td>2</td>
            <td>2</td>
            <td>0</td>
            <td>0</td>
            <td>6</td>
          </tr>        


        </tbody>
      </table>